.documentBackground {
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 20px;
    min-height: fit-content;
    box-sizing: border-box;
    border: 1px solid #373f4e;
    white-space: pre-line;
    width: 1024px;
    max-width: 1024px;
    min-width: 1024px;
    overflow-y: overlay;
    overflow-x: overlay;
}

.editBackground {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(188, 196, 212);
    margin: 5px;
    min-height: fit-content;
    min-width: 700px;
    box-sizing: border-box;
    border: 1px solid #373f4e;
    overflow-y: auto;
    overflow-x: overlay;
}

.groupSection {
    background-color: #3b4b68;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.groupSection.fill {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.subGroupSection {
    background-color: #4e5f7e;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
}

.inputSection {
    background-color: #373f4e;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: white;
    font-weight: normal;
}

.inputSection.fill {
    flex: 1;
}

.inputSectionText {
    width: 120px;
    margin-left: 5px;
    text-transform: capitalize;
    height: fit-content;
}

.inputSectionText.expand {
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.inputSectionInput {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Consolas', 'monaco', monospace;
}


.inputSectionInput.checkboxSection {
    max-width: 28px;
    height: 27.79px;
    margin: 0;
    align-self: center;
}

.fileSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    max-height: 140px;
}

.fileSection > *:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fileSection > *:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid black;
}

.fileSectionItem {
    flex: 1;
    display: inline-flex;
    background-color: white;
    height: 20px;
    padding: 4px 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-indent: 10px;
    font-size: smaller;
    cursor: pointer;
    user-select: none;
}

.fileSectionItem:hover {
    background-color: #f0f0f0;
}

.fileSectionItem:active {
    background-color: #dfdfdf;
}


.fileSectionItemInput {
    flex: 1;
    padding: 4px 20px;
    color: black;
    font-weight: bold;
    font-size: smaller;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.fileSectionItemInput:hover {
    background-color: #f0f0f0;
}

.fileSectionItemInput:active {
    background-color: #dfdfdf;
}

.documentCenter {
    display: flex;
    align-self: center;
    flex: 1;
    overflow-y: auto;
}

.documentTitle {
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.documentHeader1 {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.documentHeader2 {
    color: black;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.documentHeader3 {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    flex: 1;
}

.documentHeader4 {
    color: rgb(24, 24, 24);
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.documentBody {
    color: black;
    font-size: medium;
    margin: 5px;
    padding: 5px;
}

.documentSlideGroup {
    display: flex;
    height: 100%;
    overflow: auto;
}

.documentSlideHandle {
    width: 5px;
    background-color: white;
    cursor: grab;
}

.documentBox {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgba(154, 179, 211, 0.5);
    text-align: center;
    white-space: nowrap;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.documentLink {
    color: rgb(60, 106, 150);
    text-decoration: none;
    font-weight: 400;
}

.documentLink:hover {
    color: rgb(28, 65, 100);
    font-weight: 450;
}

.documentText {
    flex: 1;
    color: black;
    text-align: left;
    align-self: center;
    margin: 0 20px 20px 20px;
    white-space: pre-line;
}

.documentList {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.documentList > * {
    padding: 2px 2px 2px 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

.documentList > *:last-child {
    border-radius: 10px;
}

.documentAlign {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.documentAlign > * {
    margin: 5px;
}

.documentGroup {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    white-space: pre-wrap;
}

.documentVerticalGroup {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    white-space: pre-wrap;
}

.documentImage {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 3px;
}

.documentImageContainer {
    display: flex;
    flex: 1;
}

.documentFill {
    width: 100%;
    flex: 1;
}

.documentTreeRoot {
    display: block;
}

.documentTreeNode {
    display: block;
}

.documentCircle {
    display: flex;
    background-color: rgba(154, 179, 211, 0.5);
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 5px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.documentRoll {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 5px;
}

.documentRollInner {
    display: inline-block;
    background-color: rgba(173, 187, 204, 0.5);
    border: 1px solid rgb(109, 109, 109);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    width: 100%;
    padding: 5px;
    user-select: none;
}

.documentRollInner:hover {
    background-color: rgba(149, 180, 221, 0.5);
}

.documentRollInner:active {
    background-color: rgba(145, 185, 236, 0.5);
}

.hidden {
    visibility: hidden;
    display: none;
}

.documentCollapsible {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(220, 235, 255);
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.documentCollapsibleHeader {
    color: black;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
}

.documentCollapsibleContent {
    display: block;
    border-top: 1px solid black;
    padding: 10px;
}

.documentTable {
    width: 100%;
    white-space: pre-wrap;
    border: 1px solid black;
    box-sizing: border-box;
    flex: 1;
}

.documentTableHeader {
    color: black;
    font-weight: bold;
    border: 1px solid black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.documentTableRow {
    flex: 1;
}

.documentTableItem {
    border: 1px solid black;
    box-sizing: border-box;
}