
.popup {
    display: block;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(68, 74, 83);
    margin: 10px;
}

.popupBackground {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(83, 104, 136, 0.301);
}

.popupHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 5px 20px;
    border-bottom: 2px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(43, 51, 63);;
}

.popupHeaderText {
    color: white;
    font-size: large;
    margin: 0;
    margin-right: 10px;
}

.popupHeaderButton {
    display: flex;
    margin-left: auto;
    color: white;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    user-select: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 74, 83);
}

.popupHeaderButton:active {
    background-color: rgb(43, 51, 63);
}

.popupBody {
    display: block;
    color: white;
    margin: 10px;
    top: 0;
    bottom: 0;
    min-height: 80px;
    min-width: 100px;
}